/* Write your CSS code here */
* {
  box-sizing: border-box;
}
.nav-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.nav-logout-container {
  display: flex;
  justify-content: space-between;
}
.nav-image {
  height: 27px;
}
.nav-logout {
  height: 27px;
}
.nav-items-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  background-color: #e6f6ff;
  padding: 20px;
  margin-right: 0px;
}
.nav-items-desktop-container {
  display: none;
  list-style-type: none;
}
@media screen and (min-width: 992px) {
  .nav-image {
    height: 40px;
  }

  .nav-logout {
    display: none;
  }
  .nav-items-container {
    display: none;
  }
  .nav-items-desktop-container {
    display: flex;
  }
  .nav-text {
    font-family: 'Roboto';
    color: #64748b;
    margin-left: 20px;
  }
  .logout-button {
    background-color: #0967d2;
    font-family: 'Roboto';
    color: #ffffff;
    border: none;
    border-radius: 5px;
    height: 33px;
    width: 75px;
    align-self: center;
    margin-left: 20px;
  }
}
